---
layout: default
title: alkan lab / team
categories:
 - team
---

<div class="row">
	<div class="col-lg-12">
		<div class="title">
			Current members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni != true %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<a class="float-left" href="{{ member.url }}">
    				<img width=160 class="mr-3" src="{{ member.image }}" style="border: 2px solid #E7E7E7; border-radius: 4px; object-fit: cover; width: 180px; height: 250px;">
  				</a>
 			 	<div class="media-body">
    				<div class="head mb-1"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}

<div class="row">
	<div class="col-lg-12">
		<div class="title">
			Past members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% comment %}
	Sort alumni newest first by alumni_leave_date, falling back to the
	post date (file name prefix) when alumni_leave_date is missing.
{% endcomment %}
{% assign alumni_keys = "" | split: "" %}
{% for member in site.categories.team %}
	{% if member.alumni == true %}
		{% if member.alumni_leave_date %}
			{% assign sortdate = member.alumni_leave_date | date: "%Y-%m-%d" %}
		{% else %}
			{% assign sortdate = member.date | date: "%Y-%m-%d" %}
		{% endif %}
		{% assign key = sortdate | append: "|" | append: member.url %}
		{% assign alumni_keys = alumni_keys | push: key %}
	{% endif %}
{% endfor %}
{% assign alumni_keys = alumni_keys | sort | reverse %}

{% for key in alumni_keys %}
	{% assign memberurl = key | split: "|" | last %}
	{% assign member = site.categories.team | where: "url", memberurl | first %}
	{% if member %}
    {% cycle 'add rows 2': '<div class="row">', '', '' %}
		<div class="col-lg-4 memberbox">
			<div class="media">
  				<a class="float-left" href="{{ member.url }}">
    				<img width=160 class="mr-3" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="head mb-1"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows 2': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows 2': '', '</div>', '</div>' %}
