---
layout: default
title: alkan lab / support
categories:
 - support
---

        <h4>BacGenTrack – An integrated system for Bacterial Genome Tracking
          using high throughput sequencing technology: from identification to
          visualization.</h4>
        <em><strong>BacGenTrack -  Bakteriyel Genom Takibi için tesbitten
            görselleştirmeye yüksek ölçekli dizileme teknolojilerini kullanan
            entegre sistem</strong>.</em><br />
        <br />
        Scientific and Technical Research Council of Turkey
        (TÜBİTAK-1001-115E596), 2017-2019
        <ul>
          <ul>
            <li>PI: Can Alkan and Joao Andre Carriço</li>
            <li>Students:</li>
            <ul>
              <li>Bilkent: Fatma Kahveci</li>
            </ul>
            <li>Collaborators: Amit Jain (Seven Bridges Genomics), Özem Kalay
              (Seven Bridges Genomics)</li>
            <li><span class="st">Total 163,536</span> TL for two years.</li>
            <li>The goal of this project is develop new algorithms for the field
              of molecular epidemiology.<br />
            </li>
          </ul>
        </ul>
        <span style="font-weight: bold;">Abstract</span><br />
        <br />
        High throughput sequencing (HTS) provides researchers the ultimate tool
        to analyze outbreaks and study bacterial determinants of virulence and
        resistance.  However data analysis is demanding in computational terms
        and expertise. We propose to implement a user-friendly web system and
        novel analysis algorithms needed to facilitate the analysis and provide
        the essential data sharing tools necessary for its effective use in the
        field of Molecular Epidemiology.<br />
        <br />
        <h4>Dissemination</h4>
        <br />
        <ul>
          <li><strong>Graph based plasmid identification in bacteria.</strong> <strong
              style="color: black;">Fatma Kahveci</strong>, Özem Kalay, Amit
            Jain, Tiago Filipe Jesus, João André Carriço, <strong><span style="color: black;">Can
                Alkan</span></strong>. Eleventh International Symposium on
            Health Informatics and Bioinformatics (HIBIT), October 25-27, 2018,
            Antalya, Turkey. Oral presentation by F. Kahveci.</li>
        </ul>
