---
layout: default
categories:
 - software
---



{% assign tool = page %}

<div class="row">
	<div class="col-lg-12">
		<div class="bigtitle titlebox">
      <nav aria-label="breadcrumb">
  			<ol class="breadcrumb">
  			{% assign crumbs = page.title | breadcrumb_array %}
  			{% for crumb in crumbs %}
  				{% assign name = crumb | split: '/' | last %}
  				{% for page in site.pages %}
  					{% if page.title == crumb %}
  						{% assign url = page.url %}
  					{% endif %}
  				{% endfor %}
  				{% if crumb == page.title %}
  				<li class="breadcrumb-item active">
	<!-- <img style="width: 220px;" class="pad-right media-object d-none d-sm-block" src="{{ tool.image }}"> -->
          </li>
  				{% else %}
  				<li class="breadcrumb-item">
            <a class="off" href="{{ url | replace: 'index.html', '' }}">{{ name }}</a>
          </li>
  				{% endif %}
  			{% endfor %}
  			</ol>
      </nav>
    </div>
		<p>
		<div class="head">
<!--			{{ tool.description }}-->
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-3">
	<div class="pad-left note">
		{% if tool.image %}
	<img style="width: 220px;" class="pad-right media-object d-none d-sm-block" src="{{ tool.image }}">
			
		{% endif %}
		</div>
		{% if tool.repo %}		
		<div class="bigspacer"></div>
		<div class="smallhead">
			Source code
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-github-alt fa-fw"></i>
			<a class="off" href="https://github.com/{{ tool.repo }}">{{ tool.repo }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if tool.docker %}
		<div class="smallhead">
			Docker Hub
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-docker-alt fa-fw"></i>
			<a class="off" href="https://hub.docker.com/r/{{ tool.docker }}">{{ tool.docker }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		<div class="smallhead">
			Contributors
		</div>
		<div class="pad-left note">
		<ul>
		        {% for contributor in tool.contributors %}
			<!-- <div class="smallspacer"></div>
			<div>
				<a class="off" href="{{ contributor.url }}">
    			<img class="pull-left avatar" src="{{ contributor.avatar }}"> -->
    			{% assign memberlink = contributor | downcase | replace: ' ', '-' %}
			<li>
				<div class="smallspacer"></div>
	    			<div class="handlebox" style="padding-left:5px;"">
					<a class="off" href="/team/{{ memberlink }}">{{ contributor }}</a>
	    			</div>
			</li>
 				<!-- </a> 
 			</div>	-->
 			{% endfor %}		
		</ul>
		</div>
		<div class="bigspacer"></div>
		<div class="spacer"></div>



	</div>
	<div class="col-lg-8">
		<div class="post">
			<p>
			{{ content }}
		</div>
	</div>
	<div class="col-lg-1"></div>
</div>
